<div class="recommendation-template">
  <div class="recommendation-detail panel panel-primary">
    <div class="panel-heading">
      <div class="row margin-right-0 margin-left-0">
        <a class="panel-title display-inline" href="{% url 'recommendations.show' recommendation_id=recommendation.id %}">{{ recommendation.title }}</a>
        {% for genre in recommendation.genres.all %}
          <a href="{% url 'genres.show' id=genre.id %}" class="genre-name float-right">({{ genre.name }})</a>
        {% endfor %}
          <div class="recommendation-likes">
            <span class="badge"><span class="glyphicon glyphicon-star"></span> {{ recommendation.likes }}</span>
          </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          {{ recommendation.created_by.user }}
        </div>
        <div class="col-sm-9">
          <p>{{ recommendation.description.rendered}}</p>

          {% if request.user.profile == recommendation.created_by %}
              <a href="{% url 'recommendations.destroy' recommendation_id=recommendation.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
              <a href="{% url 'recommendations.destroy' recommendation_id=recommendation.id %}" class="btn btn-info"><span class="glyphicon glyphicon-cog"></span></a>
          {% else %}
            {% if request.user.profile in recommendation.liked_by.all %}
              <a href="{% url 'recommendations.downvote' recommendation_id=recommendation.id %}" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span></a>
            {% else %}
              <a href="{% url 'recommendations.upvote' recommendation_id=recommendation.id %}" class="btn btn-default"><span class="glyphicon glyphicon-ok-sign"></span></a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  </div>
