{% extends 'base.html' %}
{% load markup_tags %}
{% load parse_content_bbcode %}
{% load fontawesome %}
{% fontawesome_stylesheet %}

{% block content %}
  <h1>Recommendations</h1>
  {% for recommendation in recommendations %}
    <div class="recommendation-detail panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ recommendation.title }} - ({{ recommendation.likes }} likes)</h3>
        <div class="genre-name"><a href="{% url 'genres.show' id=recommendation.genre.id %}">{{ recommendation.genre.name }}</a></div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            {{ recommendation.created_by.user }}
          </div>
          <div class="col-sm-8">
            {{ recommendation.description |parse_content_bbcode|safe }}
          </div>
          <div class="col-sm-1 float-right">
            {% if request.user.profile == recommendation.created_by %}
              <center>
                <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
              </center>
            {% else %}
              <center>
                {% if request.user.profile in recommendation.liked_by.all %}
                  <a href="{% url 'recommendations.downvote' recommendation_id=recommendation.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span></a>
                {% else %}
                  <a href="{% url 'recommendations.upvote' recommendation_id=recommendation.id %}" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
              </center>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <a href="{% url 'recommendations.new' %}" class="btn btn-info">New Recommendation</a>
{% endblock %}
