{% extends 'base.html' %}

{% block content %}
  <h1>New Genre</h1>
  <form method="POST" class="genre-form">{% csrf_token %}
    <div class="form-group">
      <label>Genre name</label>
      <input type="text" name="name" class="form-control"></input>
    </div>

    <div class="form-group">
      <label>Description</label>
      <div class="container">
        {{ form.description }}
      </div>
    </div>

    <button type="submit" class="btn btn-info">Create Genre</button>
  </form>
{% endblock %}
