{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/recommendations.css' %}" rel="stylesheet">
    <link href="{% static 'css/genres.css' %}" rel="stylesheet">
    {# <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script> #}
    {# <script src="{% static 'js/bootstrap.min.js' %}"></script> #}
    <title>Mjuzik</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'genres.index' %}">Genres</a></li>
          <li><a href="{% url 'recommendations.index' %}">Recommendations</a></li>
          <li><a href="{% url 'signout' %}">Signout</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">Signup</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="container margin-bottom-40">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
