@font-face {
  font-family: 'fledgling-sb';
  src: url('../fonts/fledgling-sb.ttf');
  src: local('../fonts/fledgling-sb.ttf'),
}

h3.panel-title {
  font-size: 20px;
}

a.genre-name {
  font-size: 25px;
  font-family: 'fledgling-sb';
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  color: white;
}

.float-right {
  float: right;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.display-inline {
  display: inline;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-left-0 {
  margin-left: 0px;
}
